.ccheck input[type="checkbox"] {
    display:none;
}

.ccheck label{

}

.ccheck input[type="checkbox"] + label{
    padding:0 0 0 0px;
    height:20px;
    background:url("../../svg/not_check_all.svg")no-repeat;

}
.ccheck input[type="checkbox"]:checked + label{
    background:url("../../svg/check_all.svg")no-repeat;
}
